{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <h1>Hello im groot</h1>
    <div class="container">
        <table class="table">
  <thead>
    <tr>
        <th scope="col">Id</th>
      <th scope="col">Full Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for emp in employees %}
    <tr>
        <!-- this is the inbuild django counter -->
      <td>{{emp.id}}</td> 
       <!-- this is the forloop counter works with current loop iteration -->
      <!-- <td>{{forloop.counter}}</td> -->
      <th scope="row"><a  href="{% url 'employe_detail' emp.id  %}">{{emp.fname}}</a></th>
      <td>{{emp.phone}}</td>
      <td>{{emp.email}}</td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>